:root {
    /* To change resume just delete the one in the public folder and add a new one with the same name */
    /* for the navigation and footer */
    --nav-font-color: black;
    --footer-color: rgb(34, 46, 84);
    --upper-box-color: rgb(2, 131, 223);;
    --lower-box-color:rgb(1, 1, 197);

    /* About page colors */
        --headshot-border-color: rgb(34, 46, 84);
        --profile-bg-color: #5b6465;
        --profile-txt-color: whitesmoke;
        --break-line-color:   #0a1742;
    /* change text on about page */
        --job-title: 'Mechanical Engineering';
        --city: 'Maple Grove, Minnesota';
        --about-text: "I am a Junior undergraduate student in Mechanical Engineering at Iowa State University. Outside of classes, I am heavily involved in Cyclone Rocketry. Cyclone Rocketry is a student engineering club that is dedicated to designing and manufacturing rockets to compete in the Spaceport America Cup. I am a current member of the mechanical team and last year I held the position of HPR chair. Additionally, I am very passionate about 3D printing, and I have incorporated this into high powered rocketry by designing and printing large scale rockets. I was also able to develop and prove that a completely 3D printed Piston ejection system is a viable means of separation. I have a passion 3D printing, rocketry, and innovation. I am very driven to learn new skills and make a difference in the world.";
    /* To change the background image of the about page delete the image aboutBackground.jpeg and add a new image with the same name */

    /* Experience and Projects page colors */
    --heading-color: rgb(255, 255, 255);
    --heading-bg-color: #0000005e;

    --work-experience-heading-color: whitesmoke;
    --work-experience-bg-color:rgb(3, 3, 74);

    --card-bg-color: white;
    --card-text-color: black;

    --proj-button-bg: rgb(255, 255, 255);
    --proj-button-text-color: #000000;

    /* To change the background image of the experience and projects page delete the image cardsBackground.jpeg and add a new image with the same name */


}