@import url('config.css');

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .nav .nav-item a{
    color: var(--nav-font-color);
  }

  .box1 {
    color: var(--upper-box-color);
    border-width: 10px;
    border: solid;
    height: 20px;
    width: 20px;
    margin-left: 10px; /* Space between navbar brand and the box */
    margin-top: 10px;
    margin-bottom: -10px;
}

.box2 {
    background-color: var(--lower-box-color);
    height: 20px;
    width: 20px;
    margin-left: 20px; /* Space between box1 and box2 */
    margin-bottom: -50px;
  }

.navbar-brand{
    font-size: 30px;
    padding-left: 50px;
    padding-bottom: 10px;
    color: black;
    font-family:"Times New Roman", Times, serif;
    font-weight:bolder;
}

footer {
  position:fixed;
  bottom:0;
  right:0;
  width:100%;
  height: 60px;
  padding-right: 30px;
  background-color: var(--footer-color);
}

.footer-grid{
  color: whitesmoke;
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 5px;
  padding-bottom: 10px;
  gap: 5px;
  float: right;
}

.email{
  font-size: 15px;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.email-name{
  font-size: 15px;
  font-weight: 150;
}

.etsy{
  font-size: 15px;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.etsy-name{
  font-size: 15px;
  font-weight: 150;
}

.email-name, .email{
  padding-left: 5vw;
}
